# Entorno virtual
venv/
.venv/
env/

# Caché de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos
.env
.flaskenv
instance/
.pytest_cache/

# Bases de datos locales (si usas SQLite)
*.sqlite3
*.db

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
